nav {
	padding: 10px;
}
nav a {
	text-decoration: none;
}

nav ul {
	list-style: none;
}

.panel-heading {
	text-align: center;
	font-weight: bold;
	font-size: 2em;
}

.panel-heading a {
	text-decoration: none;
	color: white;
}

#user_data {
	overflow: hidden;
}

#user_photo {
	margin-top: 10%;
	margin-left: 10%;
	margin-bottom: 10%;
}

h2 {
	font-size: 1.5em;
}

.comment {
	padding-bottom: 5px;
}

.comment a {
	color: black;
}

.date {
	color: rgb(61, 61, 41);
	font-size: 0.9em;
	font-style: italic;
}

p {
	font-size: 1em;
}

footer {
	padding: 2%;
	margin: 1%;
	border-radius: 4px;
	background-color: #f8f8f8;
    border-color: #e7e7e7;
    border: 1px solid transparent;
    font-size: 0.9em;
}
